<h1>Listing phrases</h1>

<table>
  <tr>
    <th>Happy quote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phrases.each do |phrase| %>
  <tr>
    <td><%= phrase.happy_quote %></td>
    <td><%= link_to 'Show', phrase %></td>
    <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
    <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phrase', new_phrase_path %>
