<div class="my-background">

<div class="my-background-<%= rand(1..20) %>">

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Good morning!" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<%= link_to 'Home', root_path, class: "my-link-class" %>

<%= link_to 'About', about_path, class: "my-link-class" %>


	<p id="notice"><%= notice %></p>

<%= link_to(random_phrase) do %>

	<div class="phrase"> <%= @phrase.happy_quote %> </div>

<% end %>


</div>

